<h1>Cadastrar timao</h1>
<form action="/timao" method="POST">
    <div class="form-group">
        <label for="nome">Nome da timao</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
        <label for="fundacao">Fundação</label>
        <input type="date" class="form-control" id="fundacao" name="fundacao" required>
        <label for="jogadores">Jogadores</label>
        <input type="text" class="form-control" id="jogadores" name="jogadores" required>
        <label for="cidade">cidade</label>
        <input type="text" class="form-control" id="cidade" name="cidade" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>