<h1>Cadastrar timao</h1>
<form action="/timaos" method="POST">
    <div class="form-group">
        <label for="nome">Nome da timao</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>