<h1>Editar timao</h1>
<form action="/timaos/<%= timao.id %>?_method=PUT" method="POST">
    <div class="form-group">
        <label for="nome">Timao</label>
        <input type="text" class="form-control" id="nome" name="nome" value="<%= timao.nome %>" required>
    </div>
    <button type="submit" class="btn btn-warning">Salvar</button>
</form>